.flexbox {
  display: flex;
  /* направление */
  flex-direction: column;
  /* выравнивание содержимого по основной оси */
  justify-content: space-between;
  /* выравнивание содержимого по поперечной оси */
  align-items: center;
  background-color: darkslategray;
  height: 500px;
}

.flexbox > div {
  border: 1px solid black;
  padding: 10px;
  background-color: deeppink;
}

.flexbox > div:nth-child(4) {
  align-self: flex-start;
}

.flexbox > div:nth-child(3) {
  align-self: stretch;
}
