.wrapper {
  background-color: dimgray;
}

.wrapper > div {
  width: 250px;
  height: 250px;
  background-color: darkorchid;
  float: left;
}

.outside {
  width: 250px;
  height: 250px;
  background-color: mediumturquoise;
}
